.menu-bar {
  color: black;  
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgb(186, 182, 182);
}
.menu-bar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
}
.menu-bar ul li{
    margin: 0px 30px;
}
.menu-bar ul li a{
    color:  #fff;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
}